---
import NavLink from "../components/NavLink.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="今日の猫">
  <Navbar showEndMenu={false}>
    <NavLink body="Top" href="/" />
  </Navbar>
  <div id="cat" class="flex py-6 px-2 justify-center">
    <h3 id="loading">Loading</h3>
  </div>
  <script type="module" src="../libs/replaceImage.ts"></script>
</Layout>
